.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background-color: #f4f4f4;
    border-top: solid darkcyan 2px;
}

img {
    border-radius: 1.5px 8px;
    border: solid darkcyan 2px;
}