body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica Narrow, sans-serif;
}

.searchRow {
    display: flex;
    justify-content: space-around;
}

.col {
    text-align: center;
    margin: 10px;
}